<template>
  <div class="page-wrap">
    <el-form
      :model="controls"
      :rules="rules"
      ref="form"
      @submit.native.prevent="onSubmit"
    >
      <h1>Создать новый пост</h1>
      <el-form-item label="Заголовок" prop="title">
        <el-input
          type="text"
          v-model="controls.title"
          resize="none"
          :rows="10"
        />
      </el-form-item>

      <el-form-item label="Текст в формате .md или .html" prop="text">
        <el-input
          type="textarea"
          v-model="controls.text"
          resize="none"
          :rows="10"
        />
      </el-form-item>

      <el-button type="success" plain @click="dialogVisible = true"
        >Открыть предпросмотр</el-button
      >

      <el-dialog title="Предпросмотр" :visible.sync="dialogVisible">
        <div :key="controls.text">
          <vue-markdown>{{ controls.text }}</vue-markdown>
        </div>
      </el-dialog>

      <el-upload
        class="upload-demo"
        drag
        action="https://jsonplaceholder.typicode.com/posts/"
        :on-change="handleImageChange"
        :auto-upload="false"
        ref="upload"
      >
        <i class="el-icon-upload"></i>
        <div class="el-upload__text">
          Перетащите картинку <em>или нажмите</em>
        </div>
        <div class="el-upload__tip" slot="tip">
          Файлы с разрешением jpg/png
        </div>
      </el-upload>

      <el-form-item>
        <el-button type="primary" native-type="submit" round :loading="loading">
          Создать
        </el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
export default {
  head: {
    title: `Новый пост | ${process.env.appName}`
  },
  layout: "admin",
  middleware: ["admin-auth"],
  data() {
    return {
      image: null,
      loading: false,
      dialogVisible: false,
      controls: {
        text: "",
        title: ""
      },
      rules: {
        text: [
          {
            required: true,
            message: "Текст не должен быть пустым",
            trigger: "blur"
          }
        ],
        title: [
          {
            required: true,
            message: "Заголовок поста не должен быть пустым",
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate(async valid => {
        if (valid && this.image) {
          this.loading = true;

          const formData = {
            title: this.controls.title,
            text: this.controls.text,
            image: this.image
          };
          try {
            await this.$store.dispatch("post/create", formData);
            this.controls.title = "";
            this.controls.text = "";
            this.image = null;
            this.$refs.upload.clearFiles();
            this.$message.success("Пост создан");
            this.loading = false;
          } catch (error) {
            this.loading = false;
          }
        } else {
          this.$message.warning("Форма не валидна");
        }
      });
    },
    handleImageChange(file, fileList) {
      console.log("file", file, "fileList", fileList);
      this.image = file.raw;
    }
  }
};
</script>

<style lang="scss" scoped>
.page-wrap {
  width: 600px;
}

.mr {
  margin-right: 2rem;
}
</style>
