<template>
  <el-card shadow="always" :style="{ width: '500px' }">
    <el-form
      @submit.native.prevent="onSubmit"
      ref="form"
      :rules="rules"
      :model="controls"
      label-width="120px"
    >
      <h2>Войти в панель администратора</h2>
      <el-form-item label="Логин" prop="login">
        <el-input v-model.trim="controls.login" />
      </el-form-item>
      <el-form-item label="Пароль" prop="password">
        <el-input type="password" v-model.trim="controls.password" />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" native-type="submit" :loading="loading"
          >Войти</el-button
        >
      </el-form-item>
    </el-form>
  </el-card>
</template>

<script>
export default {
    head: {
    title: `Вход в админку | ${process.env.appName}`
  },
  layout: "empty-layout",
  data() {
    return {
      loading: false,
      controls: {
        login: "",
        password: ""
      },
      rules: {
        login: [
          {
            required: true,
            message: "Введите ваш логин",
            trigger: "blur"
          }
        ],
        password: [
          {
            required: true,
            message: "Введите ваш пароль",
            trigger: "blur"
          },
          {
            min: 6,
            message: "Пароль должен быть не менее 6 символов",
            trigger: "blur"
          }
        ]
      }
    };
  },
  mounted() {
    const { message } = this.$route.query;

    switch (message) {
      case "login":
        this.$message.info("Для начала войдите в систему");
        break;
      case "logout":
        this.$message.success("Вы успешно вышли из системы");
        break;
         case "session":
        this.$message.warning("Срок вашей сессии истек, пожалуйста зайдите заного");
        break;
      default:
        break;
    }
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate(async valid => {
        if (valid) {
          try {
            this.loading = true;
            const formData = {
              login: this.controls.login,
              password: this.controls.password
            };
            await this.$store.dispatch("auth/login", formData);
            this.$router.push("/admin");
          } catch (error) {
            this.loading = false;
          }
        }
      });
    }
  }
};
</script>
