<template>
  <el-form
    @submit.native.prevent="onSubmit"
    ref="form"
    :rules="rules"
    :model="controls"
    label-width="120px"
  >
    <h2>Создать пользователя</h2>
    <el-form-item label="Логин" prop="login">
      <el-input v-model.trim="controls.login" />
    </el-form-item>
    <el-form-item label="Пароль" prop="password">
      <el-input type="password" v-model.trim="controls.password" />
    </el-form-item>
    <el-form-item>
      <el-button type="primary" native-type="submit" :loading="loading"
        >Создать</el-button
      >
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  head: {
    title: `Пользователи | ${process.env.appName}`
  },
  middleware: ["admin-auth"],
  layout: "admin",
  data() {
    return {
      loading: false,
      controls: {
        login: "",
        password: ""
      },
      rules: {
        login: [
          {
            required: true,
            message: "Введите ваш логин",
            trigger: "blur"
          }
        ],
        password: [
          {
            required: true,
            message: "Введите ваш пароль",
            trigger: "blur"
          },
          {
            min: 6,
            message: "Пароль должен быть не менее 6 символов",
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate(async valid => {
        if (valid) {
          try {
            this.loading = true;
            const formData = {
              login: this.controls.login,
              password: this.controls.password
            };
            await this.$store.dispatch("auth/createUser", formData);
            this.$message.success("Новый пользователь добавлен");
            this.controls.login = "";
            this.controls.password = "";
            this.loading = false;
          } catch (error) {
            this.loading = false;
          }
        }
      });
    }
  }
};
</script>
<style lang="scss" scoped>
form {
  width: 600px;
}
</style>
