<template>
  <el-form
    @submit.native.prevent="onSubmit"
    ref="form"
    :rules="rules"
    :model="controls"
    label-width="120px"
  >
    <h1>Добавить комментарий</h1>
    <el-form-item label="Имя" prop="name">
      <el-input v-model="controls.name" />
    </el-form-item>
    <el-form-item label="Текст" prop="text">
      <el-input
        type="textarea"
        v-model="controls.text"
        resize="none"
        :rows="2"
      />
    </el-form-item>
    <el-form-item>
      <el-button type="primary" native-type="submit" :loading="loading"
        >Добавить комментарий</el-button
      >
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  props: {
    postId: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      loading: false,
      controls: {
        name: "",
        text: ""
      },
      rules: {
        name: [
          {
            required: true,
            message: "Введите ваше имя",
            trigger: "blur"
          }
        ],
        text: [
          {
            required: true,
            message: "Введите ваш комментарий",
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    onSubmit() {
      this.$refs.form.validate(async valid => {
        if (valid) {
          this.loading = true;
          console.log("form submit!!");
          const formData = {
            name: this.controls.name,
            text: this.controls.text,
            postId: this.postId
          };
          try {
            const newComment = await this.$store.dispatch(
              "comment/create",
              formData
            );
            console.log(newComment);
            this.$message.success("Комментарий Добавлен");
            this.$emit("created", newComment);
          } catch (error) {
            console.log(error);
          }
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped></style>
